<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>NSCameraUsageDescription</key>
		<string>FinancIA usa la cámara para escanear recibos y extraer automáticamente el monto, lugar y artículos de tus gastos.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>FinancIA accede a tu galería para seleccionar fotos de recibos, tu avatar de perfil e imágenes de tus metas de ahorro.</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ruben.Financia</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>financia</string>
			</array>
			</dict>
			<dict/>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
				<key>127.0.0.1</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
</plist>
